/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,20,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1240,20,1.25,4,2,&s=0.75,1.5|2|3|4|6,&g=s,l,xl,12 */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --size-xs: clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem);
  --size-s: clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem);
  --size-m: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --size-l: clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5625rem);
  --size-xl: clamp(1.44rem, 1.2301rem + 0.933vw, 1.9531rem);
  --size-2xl: clamp(1.728rem, 1.4362rem + 1.2971vw, 2.4414rem);
  --size-3xl: clamp(2.0736rem, 1.6734rem + 1.7785vw, 3.0518rem);

  --space-xs: clamp(0.75rem, 0.6733rem + 0.3409cqi, 0.9375rem);
  --space-s: clamp(1rem, 0.8977rem + 0.4545cqi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3466rem + 0.6818cqi, 1.875rem);
  --space-l: clamp(2rem, 1.7955rem + 0.9091cqi, 2.5rem);
  --space-xl: clamp(3rem, 2.6932rem + 1.3636cqi, 3.75rem);
  --space-2xl: clamp(4rem, 3.5909rem + 1.8182cqi, 5rem);
  --space-3xl: clamp(6rem, 5.3864rem + 2.7273cqi, 7.5rem);
  /* One-up pairs */
  --space-xs-s: clamp(0.75rem, 0.5455rem + 0.9091cqi, 1.25rem);
  --space-s-m: clamp(1rem, 0.642rem + 1.5909cqi, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.0909rem + 1.8182cqi, 2.5rem);
  --space-l-xl: clamp(2rem, 1.2841rem + 3.1818cqi, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.1818rem + 3.6364cqi, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.5682rem + 6.3636cqi, 7.5rem);

  --gap: clamp(1rem, 0.5909rem + 1.8182vw, 2rem);

  --color-primary: hsl(230 100% 65%);
  --color-secondary: hsl(190 100% 65%);
  --color-midpoint: hsl(210 100% 65%);
  --color-surface: hsl(227, 25%, 11%);
  --color-text: hsl(217 17% 62%);
  --color-shadow: hsl(215, 18%, 12%);
  --gradient-linear: linear-gradient(
    in oklab,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-conic: conic-gradient(
    in oklab,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary)
  );
}
