---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Label from "../components/Label.astro";
import Input from "../components/Input.astro";
---

<Layout title="Reach Out to the Studio">
  <!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> -->

  <Section class="contact-studio">
    <p>
      I’m always open to discussing new projects, whether it’s a full site build
      or a custom plugin for an existing WordPress setup.
    </p>
    <p>
      <small
        >Based in <strong>San Antonio</strong>, operating on a global digital
        frequency.</small
      >
    </p>

    <form action="https://submit-form.com/JvwsNErL">
      <h3>Start the Transmission</h3>

      <Input label="Name" type="text" name="name" placeholder="Name" required />

      <Input
        label="Email address"
        type="email"
        name="email"
        placeholder="Email Address"
        required
      />

      <Input
        label="Tell me about your project"
        type="textarea"
        name="about"
        placeholder="Tell me about your project"
      />

      <Input
        label="What is the biggest bottleneck in your current digital presence?"
        type="textarea"
        name="bottleneck"
        required
      />

      <Input
        label='What does a "successful" launch look like to you?'
        type="textarea"
        name="success"
        required
      />

      <div class="cf-turnstile" data-sitekey="YOUR_TURNSTILE_SITE_KEY"></div>

      <button type="submit" id="submitBtn">Send Message</button>
    </form>
  </Section>
</Layout>
