---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Label from "../components/Label.astro";
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";
---

<Layout title="Reach Out to the Studio">
  <!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> -->

  <Section class="contact-studio">
    <p>
      I’m always open to discussing new projects, whether it’s a full site build
      or a custom plugin for an existing WordPress setup.
    </p>
    <p>
      <small
        >Based in <strong>San Antonio</strong>, operating on a global digital
        frequency.</small
      >
    </p>

    <form action="https://submit-form.com/JvwsNErL">
      <h3>Start the Transmission</h3>

      <Input label="Name" type="text" name="name" placeholder="Name" required />

      <Input
        label="Email address"
        type="email"
        name="email"
        placeholder="Email Address"
        required
      />

      <Input
        label="Tell us about your project."
        type="textarea"
        name="about"
        placeholder="Tell me about your project"
      />

      <Input
        label="What are your primary goals for this project?"
        type="textarea"
        name="goals"
        required
      />

      <Input
        label='What does a "successful" launch look like to you?'
        type="textarea"
        name="success"
        required
      />

      <Input
        label="I already have a website and want to improve it"
        type="checkbox"
        id="isOnline"
      />

      <Input
        label="What is your current website URL?"
        type="text"
        name="website"
        placeholder="https://example.com"
        showIf="isOnline"
      />

      <Input
        label="What is the biggest bottleneck in your current digital presence?"
        type="textarea"
        name="bottleneck"
        showIf="isOnline"
        required
      />

      <!-- <div class="cf-turnstile" data-sitekey="YOUR_TURNSTILE_SITE_KEY"></div> -->

      <Button type="submit" id="submitBtn" class="right">Send Message</Button>
    </form>
  </Section>
</Layout>

<style is:global>
  label:has(#isOnline:not(:checked)) ~ *[data-show-if="isOnline"] {
    display: none;
  }
</style>
