---
import Layout from "../layouts/Layout.astro";
import ServiceGrid from "../components/ServiceGrid.astro";
import Section from "../components/Section.astro";
import Cards from "../components/Cards.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
import Testimonial from "../components/Testimonial.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Cross Key Studios" isHome={true}>
  <Hero title="Digital Craft from the Ground Up.">
    Cross Key Studios: A San Antonio-based web studio specializing in bespoke,
    hand-coded digital experiences.
  </Hero>

  <p>
    The "Studio" Story: We believe the best work isn't found in a template.
    Inspired by the intersection of precision and creativity, we build websites
    that act as a permanent, high-performance home for your brand online.
  </p>

  <Cards title="What we do">
    <Card title="Custom Web Apps">
      Hand-coded logic tailored specifically to your business workflow.
    </Card>
    <Card title="E-commerce">
      Bespoke storefronts designed for smooth, high-conversion transactions.
    </Card>
    <Card title="UI UX Design">
      Clean, high-contrast interfaces with our signature neon glow.
    </Card>
    <Card title="Performance">
      Ultra-fast load times achieved through lightweight, purposeful code.
    </Card>
    <Card title="Brand Identity">
      Developing a visual language that matches your studio's ambition.
    </Card>
    <Card title="API Logic">
      Connecting your custom website to the digital tools you use daily.
    </Card>
  </Cards>

  <Section title="Portfolio">
    <Project title="CR Vegan Eats" href="http://crveganeats.com" image="" />
    <Project title="http://tntcakery.con" href="TNT Cakery" image="" />
    <Project
      title="Ignite God's Lite"
      href="http://ignite-gods-lite.com"
      image=""
    />
  </Section>

  <Section title="Testimonials">
    <Testimonial name="Tina O." title="Baker">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam est
      similique debitis omnis magnam nobis consequuntur qui voluptas odio
      veritatis!
    </Testimonial>
    <Testimonial name="Barbie L." title="Disability filer">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut veritatis
      commodi quasi aperiam cum quod, laboriosam libero adipisci autem.
      Consectetur.
    </Testimonial>
    <Testimonial name="Cynthia and Ruben J." title="Vegan hippies">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus neque
      cumque dolore expedita accusamus nobis consectetur, esse laboriosam
      numquam omnis!
    </Testimonial>
  </Section>
</Layout>
