---
import Image from "Astro:assets";
import Logo from "../components/Logo.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Soon.astro";
---

<Layout title="Cross Key Studios" isHome={true}>
  <Logo turnOn={true} width={25} />
  <hr />
  <Section title="Coming soon...">
    <p>
      Until then, contact
      <br /><a href="mailto:info@crosskeystudios.com"
        >info@crosskeystudios.com</a
      >
      <br />or call/text
      <a href="tel:8027677539">80-CROSS-KEY</a>
    </p>
  </Section>
</Layout>

<style>
  hr {
    margin-block: 2rem;
  }
</style>
