---
import Image from "Astro:assets";
import Layout from "../layouts/Soon.astro";
import Section from "../components/Section.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Cross Key Studios" isHome={true}>
  <!-- <Hero title="Building Cutting-Edge Websites & Digital Solutions"> -->
  <!--   <p>We are fucking awesome!</p> -->
  <!-- </Hero> -->

  <Logo />
  <Section title="Coming soon...">
    <p>
      Until then, contact <a href="mailto:info@crosskeystudios.com"
        >info@crosskeystudios.com</a
      > or call
      <a href="tel:8027677539">80-CROSS-KEY</a>
    </p>
  </Section>
</Layout>
