---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Thank You">
  <Section title="Thank you for reaching out! We'll be in touch soon.">
    <p></p>
    <p>
      We appreciate you taking the time to reach out to us. We'll review your
      message and get back to you as soon as possible.
    </p>
    <p>
      If you have any urgent inquiries, please feel free to contact us directly
      at <a href="mailto:info@crosskeystudios.com"></a>
    </p>
    <p>
      In the meantime, feel free to explore our portfolio and learn more about
      our services.
    </p>
  </Section>
</Layout>
