---
const { href, type = "link", ...rest } = Astro.props;
---

{
  type == "link" ? (
    <a href={href} {...rest}>
      <slot />
    </a>
  ) : (
    <button type={type} {...rest}>
      <slot />
    </button>
  )
}
<style>
  a,
  button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid;
    background: var(--gradient-linear);
    color: black;
    font-size: inherit;
    text-align: center;
    &:hover {
      color: black;
    }
  }
  .right {
    float: right;
  }
</style>
