---
const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid;
    text-align: center;
    color: black;
    background: var(--gradient-linear);
    &:hover {
      color: black;
    }
  }
</style>
