---
const { title, subtitle, gap } = Astro.props;
---

<div class="card">
  <h3>{title}</h3>
  {subtitle && <strong>{subtitle}</strong>}
  <slot />
</div>

<style define:vars={{ gap }}>
  @property --angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: true;
  }
  div {
    position: relative;
    padding: var(--gap);
    overflow: hidden;
    gap: var(--gap);
    border: 1px solid hsl(from var(--color-midpoint) h s l / 0.1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-5px);
      /* border-color: #00e5ff;  */
      border-color: transparent;
      background:
        conic-gradient(black 0 0) padding-box,
        /* var(--gradient-linear) border-box; */
        conic-gradient(
            from var(--angle),
            var(--color-primary),
            var(--color-secondary),
            var(--color-primary)
          )
          border-box;
      box-shadow: 0 10px 30px rgba(0, 229, 255, 0.1);
      animation: rotate 2s linear infinite;
    }
  }
  @keyframes rotate {
    to {
      --angle: 1turn;
    }
  }

  h3 {
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
  }

  p {
    margin-block: var(--space-xl);
    color: #8e9aaf; /* Slate Gray */
    font-size: 1rem;
    line-height: 1.6;
  }
</style>
