---
// import Card from "../components/Card.astro";
const { title } = Astro.props;
---

<section class="services-container">
    {title && (
    <h2>{title}</h2>
    )}
  <div class="services-grid">
    <slot />
  </div>
</section>

<style>
  /* Container Setup */
  .services-container {
    padding: 4rem 5%;
    /* background-color: #0b0e14; /* Deep Midnight */ */
  }

  /* 3x2 Grid Logic */
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,20rem), 1fr));
    gap: 2rem;
    max-width: 80rem;
    margin: 0 auto;
  }

</style>
