---
// import Card from "../components/Card.astro";
const { title, id, gap } = Astro.props;
---

<section id={id ? id : ""}>
  {title && <h2>{title}</h2>}
  <div>
    <slot />
  </div>
</section>

<style define:vars={{ gap }}>
  section {
    padding: 4rem 5%;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));

    gap: var(--gap, 1rem);
    max-width: 80rem;
    margin: 0 auto;
  }
</style>
