---
// import Card from "../components/Card.astro";
import Section from "../components/Section.astro";
const { title, ...rest } = Astro.props;
---

<Section {...rest}>
  <!-- {title && <h2>{title}</h2>} -->
  <div>
    <slot />
  </div>
</Section>

<!-- <style define:vars={{ gap }}> -->
<style>
  section {
    grid-column: full;
    max-width: 80rem;
    margin-inline: auto;
    padding: 0 var(--gap);
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    margin: 0 auto;
    gap: var(--gap);
  }
</style>
