---
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
---

<div>
    <Logo alt="Cross Key Studios logo" height=8 />
    <nav><Nav /></nav>
</div>

<style>
  div {
    display: grid;
    grid-template: "logo nav";
  }
</style>
