---
const { title } = Astro.props;

import { getImage, Image } from "astro:assets";
import hero_bg from "../assets/hero_bg.png";
import Nav from "../components/Nav.astro";

const hero = await getImage({ src: hero_bg, format: "webp" });

import Logo from "../components/Logo.astro";
---

<div class="wrap" style={`--bg-img: url(${hero.src});`}>
  <div class="logo">
    <Logo turnOn={true} />
  </div>
  <!-- <nav><Nav /></nav> -->
  <h1>{title}</h1>
  <slot />
  <!-- <Image src={logo} alt="Cross Key Studios logo" width="256" /> -->
</div>

<style>
  div {
    background: var(--bg-img) center black;
    background-size: cover;
    min-height: 20rem;
    color: white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
  .logo {
    width: 20rem;
    background: var(--color-surface);
    border: 0.25rem solid var(--color-shadow);
    padding: 3rem;
    border-radius: 1rem;
  }
</style>
