---
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import { Image, getImage } from "astro:assets";
import hero_bg from "../assets/hero_bg.png";
const hero = await getImage({ src: hero_bg, format: "webp" });
import Logo from "../components/Logo.astro";
---

<div class="hero" style={`--bg-img: url(${hero.src});`}>
  <Logo height=6 />
  <Nav />
  <h1>{title}</h1>
  <slot />
  <!-- <Image src={logo} alt="Cross Key Studios logo" width="256" /> -->
</div>

<style>
  div {
    /* background-image: var(--bg-img); */
    background: black;
    background-size: cover;
    min-height: 20rem;
    --filter: grayscale(100%) brightness(0.4);
    --animation: neon-on 3s ease-in-out forwards;
  }
</style>
