---
const { title } = Astro.props;

import { getImage, Image } from "astro:assets";
import hero_bg from "../assets/hero_bg.png";

const hero = await getImage({ src: hero_bg, format: "webp" });

import Logo from "../components/Logo.astro";
---

<div class="hero full" style={`--bg-img: url(${hero.src});`}>
  <div>
    <h1>{title}</h1>
    <slot />
  </div>

  <div class="logo">
    <Logo turnOn={true} />
  </div>
</div>

<style>
  h1 {
    color: white;
  }
  .hero {
    grid-column: wide;
    --hero-spacing: var(--space-xl-2xl);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: full;
    align-items: center;
    justify-items: center;
    padding: var(--hero-spacing);
    overflow-x: clip;
    gap: var(--hero-spacing);
    border-bottom: 1px solid black;
    background:
      conic-gradient(rgb(0 0 0 /0.5)),
      var(--bg-img) center black;
    background-size: cover;
    box-shadow: 0 0 1rem -0.5rem var(--color-primary);
    color: white;
  }

  .logo {
    /* box-sizing: content-box; */
    aspect-ratio: 644/496;
    max-width: 644px;
    padding: 3rem;
    transform: perspective(50rem) rotate3d(1, -1, 0, 30deg);
    border: 1px solid black;
    border-radius: 1rem;
    background: var(--color-surface);
    box-shadow: 0 0 1rem var(--color-shadow);
    perspective: 1rem;
  }
  @media (width<65em) {
    .hero {
      --hero-spacing: var(--space-m);
      grid-template-columns: 1fr;
    }
    div {
      padding: 1rem;
    }
    .logo {
      display: none;
    }
  }
</style>

<style is:global>
  header {
    @media (width>45em) {
      /* animation: none; */
      /* opacity: 1; */
      animation: showHeader 3s ease 2s forwards;
      opacity: 0;
    }
  }

  @keyframes showHeader {
    to {
      opacity: 0.9;
    }
  }
</style>
