---
const { title } = Astro.props;

import { getImage, Image } from "astro:assets";
import hero_bg from "../assets/hero_bg.png";

const hero = await getImage({ src: hero_bg, format: "webp" });

import Logo from "../components/Logo.astro";
---

<div class="hero" style={`--bg-img: url(${hero.src});`}>
  <div class="content">
    <h1>{title}</h1>
    <slot />
  </div>

  <div class="logo">
    <Logo turnOn={true} />
  </div>
</div>

<style>
  h1 {
    color: white;
  }
  .hero {
    --hero-spacing: var(--space-xl-2xl);
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: stretch;
    width: 100vw;
    inset: 0 0 auto 50%;
    padding: var(--hero-spacing);
    gap: var(--hero-spacing);
    transform: translateX(-50%);
    border-bottom: 1px solid black;
    background:
      conic-gradient(rgb(0 0 0 /0.5)),
      var(--bg-img) center black;
    background-size: cover;
    box-shadow: 0 0 1rem -0.5rem var(--color-primary);
    color: white;
  }

  .logo {
    aspect-ratio: 644/496;
    max-width: 35vw;
    padding: 3rem;
    transform: perspective(30rem) rotate3d(1, -1, 0, 30deg);
    border: 1px solid black;
    border-radius: 1rem;
    background: var(--color-surface);
    box-shadow: 0 0 1rem var(--color-shadow);
    perspective: 1rem;
  }
  @media (width<65em) {
    .hero {
      grid-template-columns: 1fr;
    }
    .content {
      grid-row: 2;
    }
    .logo {
      display: none;
    }
  }
</style>
