---
// import Label from "../components/Label.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label: string;
}
const { label, type = "text", ...rest } = Astro.props;
const Element = type === "textarea" ? "textarea" : "input";
---

<label>
  <span>{label}</span>
  <Element {...rest} />
</label>

<style>
  label,
  span {
    display: block;
  }
  label > span:first-child() {
  }
</style>
