---
const { title } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <slot />
</section>

<style>
  section {
    width: min(100% - 2rem, 75ch);
    margin-inline: auto;
    margin-block-start: var(--space-xl-2xl);
  }
</style>
