---
// const { title } = Astro.props;
const { title, ...rest } = Astro.props;
---

<section {...rest}>
  <h2>{title}</h2>
  <slot />
</section>

<style>
  section {
    /* width: min(100% - 2rem, 75ch); */
    /* margin-inline: auto; */
    /* margin-block-start: var(--space-l-xl); */
    gap: 2rem;
  }
</style>
