---
import "../styles/style.css";
import { Icon } from "astro-icon/components";
const icons = [
  {
    name: "html5",
    url: "https://developer.mozilla.org/en-US/docs/Glossary/HTML5",
  },
  { name: "css3", url: "https://developer.mozilla.org/en-US/docs/Web/CSS" },
  {
    name: "javascript",
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  { name: "astro", url: "https://astro.build" },
  { name: "php", url: "https://www.php.net/" },
  { name: "wordpress", url: "https://wordpress.org" },
  { name: "cloudflare", url: "https://cloudflare.com" },
  { name: "netlify", url: "https://www.netlify.com" },
  { name: "git", url: "https://git-scm.com" },
  { name: "neovim", url: "https://neovim.io" },
  { name: "linux", url: "https://en.wikipedia.org/wiki/Linux" },
];
---

<!-- <ul> --><!--   { --><!--     icons.map() --><!--   } --><!-- </ul> -->
<ul>
  {
    icons.map((icon) => (
      <li>
        {icon.url ? (
          <a href={icon.url}>
            <Icon name={`simple-icons:${icon.name}`} />
          </a>
        ) : (
          <Icon name={`simple-icons:${icon.name}`} />
        )}
      </li>
    ))
  }
</ul>

<svg width="0" height="0" style="position: absolute;" aria-hidden="true">
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop offset="0%" stop-color="#ff7e5f"></stop>
      <stop offset="100%" stop-color="#feb47b"></stop>
    </linearGradient>
  </defs>
</svg>

<style>
  ul {
    --icon-width: 10ch;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--icon-width), 100%), 1fr)
    );
    /* grid-template-columns: repeat(4, 1fr); */
    max-width: 100%;
    margin-inline: auto;
    gap: 2rem;
    list-style-type: none;
  }
  li {
    flex-shrink: 1;
  }
  [data-icon] {
    width: var(--icon-width) !important;
    max-width: var(--icon-width) !important;
    height: var(--icon-width);
    color: white;
    color: var(--color-midpoint);
    path {
      fill: url(#gradient) !important;
    }
  }
</style>
