---
import "../styles/vars.css";
import "../styles/style.css";
import "../styles/grid.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>Cross Key Studios</title>
    <!-- <link rel="stylesheet" href="/style.css" /> -->
  </head>

  <body>
    <main><slot /></main>
    <footer><Footer /></footer>
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-rows: 1fr 3rem;
    min-height: 100vh;
    background-color: var(--color-surface);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    * {
      margin-inline: auto;
      text-align: center;
    }
  }
  main {
    place-content: center;
  }
  section {
    display: flex;
  }
</style>
